body{
    line-height: 25px;
    font-size:16px;
}
.menuSite{
    background-color:#000;
    background-color: rgba(0,0,0,0.3);
    box-shadow:0px 0px 0px transparent;-o-box-shadow:0px 0px 0px transparent;-moz-box-shadow:0px 0px 0px transparent;-webkit-box-shadow:0px 0px 0px transparent;
}
.home{
    width: 100%;
    background-image: url('../img/picjumbo.com_HNCK1218.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
.logo{
    margin-left:1em;
}
.side-nav li{
    padding:0;
}
.tituloPg1{
    color: #ffffff;
    text-align:center;
    margin-top:3rem;
    padding:0 15px;
    font-size:4em;
}
.sobre{
    height: 100%;
    background-color:#002b36;
}
.tituloSobre,.tituloHabil{
    margin:0px;
    padding-top:75px;
    color:#242526;
    text-align:center;
    color:#fff;
}
.linePerfil{padding: 1em;}
.perfil{
    height:350px;
    margin: 0 auto;
}
.perfil p {color:#fff;}
.redesSociais{color:#fff;}
.parallax-container{
    height: 300px;
}
.servicos{
    height:100%;
    background-color:#006882;
}
.cardHabil{
    width:100%;
    height: 100%;
}
.cardHabil h5,p{
    color:#ffffff;
}
.imgIcon1{
    margin:0 auto;
}
