body{
    line-height: 25px;
    font-size:16px;
}
.menuSite{
    background-color: transparent;
    box-shadow:0px 0px 0px transparent;-o-box-shadow:0px 0px 0px transparent;-moz-box-shadow:0px 0px 0px transparent;-webkit-box-shadow:0px 0px 0px transparent;
}
.home{
    width: 100%;
    background-image: url('../img/picjumbo.com_HNCK1218.png');
    background-size: cover;
}
.logo{
    margin-left:1em;
}
.side-nav li{
    padding:0;
}
.tituloPg1{
    color: #ffffff;
    text-align:center;
    margin-top:2em;
    padding:0 15px;
}
.sobre{
    height: 600px;
    background-color:#F2F0F2;
}
.tituloSobre{
    margin:0px;
    padding-top:70px;
    color:#242526;
    text-align:center;
}
.perfil{
    height:350px;
    width:auto;
    margin: 0 auto;
    position:relative;
    padding: 10px;
}