body{
    line-height: 25px;
    font-size:16px;
}
.menuSite{
    background-color: transparent;
    box-shadow:0px 0px 0px transparent;-o-box-shadow:0px 0px 0px transparent;-moz-box-shadow:0px 0px 0px transparent;-webkit-box-shadow:0px 0px 0px transparent;
}
.home{
    width: 100%;
    background-image: url('../img/picjumbo.com_HNCK1218.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
.logo{
    margin-left:1em;
}
.side-nav li{
    padding:0;
}
.tituloPg1{
    color: #ffffff;
    text-align:center;
    margin-top:3rem;
    padding:0 15px;
    font-size:4em;
}
.sobre{
    height: 100%;
    background-color:#002b36;
}
.tituloSobre{
    margin:0px;
    padding-top:70px;
    color:#242526;
    text-align:center;
    color:#fff;
}
.linePerfil{padding: 1em;}
.perfil{
    height:350px;
    margin: 0 auto;
}
.perfil p {color:#fff;}